.center {
    display: block;
    margin-left: 40%;
    margin-right: auto;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    padding: 10%;
  }

#cent {
    display: block;
    margin-left: 30%;
    margin-right: auto;
    text-align: center;
    color:rgb(197, 194, 194); 
    
    
  }

.tab{
    background-color: rgb(89, 99, 138);
    
    width: 100%;
}